h1 {
    text-align: center;
    color: #5f6a72;
}

h2 {
    color: #5f6a72;
}
h3 {
    text-align: center;
}

.Profile {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    max-width: 25%;
}

.button {
    background-color: #9e1b32;
    color: #f2f2f2;
}

.table {
    border: 3px solid black;
}

.cell {
    border: 1px solid black;
    padding: 0px 10px 0px 5px;
}

.block {
    display: flex;
    justify-content: center;
    margin-top: 15px;
    margin-bottom: 25px;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: auto;
    padding: 4px 4px 4px 4px;
}

.Glossaryblock{
    display: flex;
    justify-content: center;
    margin-top: 15px;
    margin-bottom: 25px;
    margin-left: 15%;
    margin-right: 15%;
}

.Glossary{
    background-color: grey;
    border: 1px solid white;
    color: white;
    padding: 0px 10px 0px 10px;
    list-style-type: disc;
}

.Entry {
    background-color: lightgray;
    border: 1px solid white;
    padding: 0px 10px 0px 5px;

}

.Paragraph {
    display: flex; 
    margin: 0% 30% 0% 30%; 
    padding: 5px 10px 5px 10px;
    border: 1px solid black; 
    background-color: rgb(242, 242, 242);
}

.Use_Case {
    justify-content: space-evenly;
    display: inline-block;
    margin: 0 auto 0 auto;
    width: 32%;
    height: 725px;
    border: 1px solid black;
    background-color: rgb(242, 242, 242);
}
.Use_Case_Text {
    padding: 5px 10px 0px 10px;
}

/* Navigation Bar */
.menubar {
    background-color: #9e1b32;
    overflow: hidden;
}
.menubar a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
.menubar a:hover {
    background-color: #828a8f;
    color: black;
}
.menubar a.active {
    background-color: #000;
    color: white;
}